/.idea
*.pyc
*.py~
*.pyo
*.db
*.swp
*.sqlite3
*.sqlite
*_original
.metadata
.settings
.DS_Store
.coverage
.ackrc
celerybeat-schedule
db.sqlite3
local_settings.py
site_assets/css/theme_built_from_sass.css
site_assets/js/built_app.js
site_assets/js/built_raven_app.js
/media
/static
/customer_docs
/coverage_local
/htmlcov
.ropeproject
/node_modules
npm-debug.log
/docs/*.pdf
_build
.~lock*
.orig
.project
.pydevproject
*#
*~
